{% extends "index.html" %}
{% load staticfiles i18n %}

{% block main %}

    <div class="row ">

        <div class="col-md-6">
            <h1>Municipios</h1>
            <a class="btn btn-primary consultar" href="/logout">logout</a>

        </div>

    </div>

    <br>

    <div id="content-div" class="row col-md-8">
        <a id="search-subjects" class="btn btn-primary">Search</a>
        <div class="col-md-4">
            <input id="name-student" type="text" class="form-control">
        </div>

    </div>

    <br>

    <table class="table table-striped">
        <thead>
        <th>{% trans 'Código' %}</th>
        <th>{% trans 'Nombre' %}</th>
        <th>Editar</th>
        <th>Eliminar</th>

        </thead>

        <tbody id="subjects">

        {% for region in object_list %}
            <tr>
                <td>{{ region.code }}</td>
                <td>{{ region.name }}</td>
                <td><a class="btn btn-info" href="{% url 'talenta_region:edit_region' region.id %} ">Editar</a>
                </td>
                <td><a class="btn btn-danger"
                       href="{% url 'talenta_region:delete_region' region.id %} ">Eliminar</a></td>

            </tr>
        {% endfor %}


        </tbody>


    </table>



{% endblock %}


{% block js %}
    {{ block.super }}


{% endblock %}
